.shoppingMenu {
    min-width: 400px;
    height: max-content;
    padding: 1rem;
}

.shoppingMenu-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shoppingMenu-main_title {
    font-family : 'Roboto', sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: center;

    height: 20%;
}

.shoppingMenu-main_products {
    font-family : 'Roboto', sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 55%;
}

.shoppingMenu-main_actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
    justify-self: flex-end;

    height: 25%;
}

@media screen and (max-width : 768px) {
    .shoppingMenu {
        display: none;
    }
}