.product {
    display: flex;
    flex-direction: column;

    min-width: 500px;
    min-height: 300px;
    margin: 1rem;
}

.card-media {
    min-height: 260px;
}
.product-img{
    max-height: 250px;
    min-height: 260px;
    max-width: 345px;
}

.product-title {
    background-color: RGBA(0,0,4,0.4);
    margin-bottom: 1rem;
}

@media screen and (max-width : 1050px) {
    .product {
        margin: 0;
        margin-top: 1rem;
    }
}