@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.banner {
    flex: 1;
    width: 100%;
    --background-image: url(../../assets/bg.png);
    background-repeat:repeat-x;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.banner-container {
    background-color: lemonchiffon;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: max-content;
    margin-right: 1rem;
    padding: 1.6rem;

}

.banner-container h1{
 color: #deb37e;
 font-family: 'Montserrat', sans-serif;
 font-size: 32px;
 font-weight: 700;
    
}

.banner-shoppingMenu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 1050px) {
    .banner {
        background-position:initial;
        flex-direction: column;
    }

    .banner-container {
        width: 100%;
        margin: 0;
        margin-right: 0;
        margin-top: 1rem;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .banner-shoppingMenu {
        display: none;
    }
}

